<% content_for :title, 'Edit Change Log Entry' %>
<h1>Edit Change Log Entry</h1>

<%= render 'form', change_log_entry: @change_log_entry %>

<%= link_to 'Show', @change_log_entry %> |
<%= link_to 'Back', change_log_entries_path %>
