<div class="about center hero-unit">
  <p>
    A tool for reviewing comments submitted through data.oregon.gov online public comment system.
  </p>
  <p>
    Please <%= mail_to 'westersund.joe@deq.state.or.us', 'contact me' %> if you have questions, suggestions, or have trouble logging in.
  </p>

  <% unless signed_in? %>
    <%= link_to "Sign in", signin_path, class: "btn btn-large btn-primary" %>
  <% end %>

</div>
