<div class="about center hero-unit">
  <p>
    Please <%= mail_to 'westersund.joe@deq.state.or.us', 'contact me' %> if you have any questions have trouble logging in.
  </p>

  <% unless signed_in? %>
    <%= link_to "Sign in", signin_path, class: "btn btn-large btn-primary" %>
  <% end %>

</div>
