<h1>Editing Category Status Type</h1>

<%= render 'form', category_status_type: @category_status_type %>

<%= link_to 'Show', @category_status_type %> |
<%= link_to 'Back', category_status_types_path %>
