<h1>Editing Category Response Type</h1>

<%= render 'form', category_response_type: @category_response_type %>

<%= link_to 'Show', @category_response_type %> |
<%= link_to 'Back', category_response_types_path %>
