<% content_for :title, 'New Comment Data Sources' %>

<h1>New Comment Data Source</h1>

<%= render 'form', comment_data_source: @comment_data_source %>

<%= link_to 'Back', comment_data_sources_path %>
