<h1>Editing Comment</h1>

<%= link_to("previous comment", edit_comments_path(@previous_comment)) if @previous_comment.present? %>
<%= link_to("next comment", edit_comments_path(@next_comment)) if @next_comment.present? %>

<%= render 'form', comment: @comment %>

<%= link_to 'Index', comments_path %>
