<% content_for :title, 'Copy a Suggested Change' %>

<h1>Copy a Suggested Change</h1>

<p>Use this feature if you need to split a Suggested Change into two.</p>
<p>Here's what that will do:</p>
<ul>
  <li>No changes will be made to the existing Suggested Change.</li>
  <li>A new Suggested Change will be created, with a Suggested Change name like 'Copy of X' where X is the existing Suggested Change name</li>
  <li>All fields of the existing Suggested Change will be copied to the new one.</li>
  <li>The new Suggested Change will start out as assigned to you.</li>
  <li>Any comments that point to the existing Suggested Change will also be set to point to the new Suggested Changev</li>
</ul>

<%= form_tag(suggested_change_do_copy_path, method: "put") do %>
  <div class="field">
    <%= label_tag :suggested_change_id, "Suggested Change to copy" %>
    <%= select_tag :suggested_change_id, options_from_collection_for_select(@suggested_changes,:id,:suggested_change_name,params[:suggested_change_id]), { :include_blank => true, class: "selectpicker", "data-live-search" => "true" } %>
  </div>
  <%= submit_tag('Create a copy of this Suggested Change', data: { "turbo-confirm": "Are you sure you want to create a copy of this Suggested Change?", class: 'btn btn-large btn-primary'})%>
<% end %>
