<% content_for :title, 'New Suggested Change' %>
<h1>New Suggested Change</h1>

<%= render 'form', suggested_change: @suggested_change, form_url: suggested_changes_path %>

<%= link_to 'Index', suggested_changes_path %>
