<% content_for :title, 'Renumber Suggested Changes' %>

<h1>Renumber Suggested Changes</h1>

<p>Change the order_in_list for suggested changes, so it matches the current alphabetical order</p>

<p>Don't do this if data for comments or suggested changes has already been downloaded to Excel for further editing.</p>

<%= form_tag(suggested_changes_do_renumber_path, method: "put") do %>
  <%= submit_tag('Renumber Suggested Changes', { class: 'btn btn-large btn-primary', data: { confirm: "Are you sure you want to renumber suggested changes? You shouldn't do this if data has already been downloaded to Excel." }})%>
<% end %>

<%= link_to 'Back', suggested_changes_path %>