<% content_for :title, 'Edit Suggested Change Status Type' %>
<h1>Edit Suggested Change Status Type</h1>

<%= render 'form', suggested_change_status_type: @suggested_change_status_type %>

<%= link_to 'Index', suggested_change_status_types_path %>
