<% content_for :title, 'Edit Category Status Type' %>
<h1>Edit Category Status Type</h1>

<%= render 'form', category_status_type: @category_status_type %>

<%= link_to 'Index', category_status_types_path %>
