<% content_for :title, 'New Comment Status Type' %>
<h1>New Comment Status Type</h1>

<%= render 'form', comment_status_type: @comment_status_type %>

<%= link_to 'Back', comment_status_types_path %>
