<% content_for :title, 'Edit Suggested Change Response Type' %>
<h1>Edit Suggested Change Response Type</h1>

<%= render 'form', suggested_change_response_type: @suggested_change_response_type %>

<%= link_to 'Index', suggested_change_response_types_path %>
