span.trix-button-group--text-tools button[data-trix-attribute=red] {
  font-weight: bold;
  color: red;
}

span.trix-button-group--text-tools button[data-trix-attribute=blue] {
  font-weight: bold;
  color: blue;
}